@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&family=Poppins%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&display=swap");

.plasmic_tokens {
  --token-uHQalisQalw0: #0000003b;
  --plasmic-token-black: var(--token-uHQalisQalw0);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-Nubzpjc9ol7p_font-family: "Inter", sans-serif;
  --mixin-Nubzpjc9ol7p_font-size: 16px;
  --mixin-Nubzpjc9ol7p_font-weight: 400;
  --mixin-Nubzpjc9ol7p_font-style: normal;
  --mixin-Nubzpjc9ol7p_color: #535353;
  --mixin-Nubzpjc9ol7p_text-align: left;
  --mixin-Nubzpjc9ol7p_text-transform: none;
  --mixin-Nubzpjc9ol7p_line-height: 1.5;
  --mixin-Nubzpjc9ol7p_letter-spacing: normal;
  --mixin-Nubzpjc9ol7p_white-space: pre-wrap;
  --mixin-Nubzpjc9ol7p_user-select: text;
  --mixin-Nubzpjc9ol7p_text-decoration-line: none;
  --mixin-Nubzpjc9ol7p_text-overflow: clip;
  --mixin-PkpD8aRroQ32_color: #000000;
  --mixin-PkpD8aRroQ32_font-weight: 700;
  --mixin-PkpD8aRroQ32_font-size: 64px;
  --mixin-PkpD8aRroQ32_line-height: 1;
  --mixin-PkpD8aRroQ32_letter-spacing: -1px;
  --mixin-PkpD8aRroQ32_white-space: pre-wrap;
  --mixin-U1asiWrXg-_K_color: #000000;
  --mixin-U1asiWrXg-_K_font-size: 48px;
  --mixin-U1asiWrXg-_K_font-weight: 700;
  --mixin-U1asiWrXg-_K_letter-spacing: -0.5px;
  --mixin-U1asiWrXg-_K_line-height: 1.1;
  --mixin-U1asiWrXg-_K_white-space: pre-wrap;
  --mixin-5LidT8QFm123_color: #0070f3;
  --mixin-5LidT8QFm123_white-space: pre-wrap;
  --mixin-79LRCWZSxyjb_color: #000000;
  --mixin-79LRCWZSxyjb_font-size: 32px;
  --mixin-79LRCWZSxyjb_font-weight: 600;
  --mixin-79LRCWZSxyjb_line-height: 1.2;
  --mixin-79LRCWZSxyjb_white-space: pre-wrap;
  --mixin-gRzF8bXAwOaU_color: #000000;
  --mixin-gRzF8bXAwOaU_font-size: 24px;
  --mixin-gRzF8bXAwOaU_font-weight: 600;
  --mixin-gRzF8bXAwOaU_line-height: 1.3;
  --mixin-gRzF8bXAwOaU_white-space: pre-wrap;
  --mixin-ClTugyuRr3nD_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-ClTugyuRr3nD_border-bottom-color: #dddddd;
  --mixin-ClTugyuRr3nD_border-bottom-style: solid;
  --mixin-ClTugyuRr3nD_border-bottom-width: 1px;
  --mixin-ClTugyuRr3nD_border-left-color: #dddddd;
  --mixin-ClTugyuRr3nD_border-left-style: solid;
  --mixin-ClTugyuRr3nD_border-left-width: 1px;
  --mixin-ClTugyuRr3nD_border-right-color: #dddddd;
  --mixin-ClTugyuRr3nD_border-right-style: solid;
  --mixin-ClTugyuRr3nD_border-right-width: 1px;
  --mixin-ClTugyuRr3nD_border-top-color: #dddddd;
  --mixin-ClTugyuRr3nD_border-top-style: solid;
  --mixin-ClTugyuRr3nD_border-top-width: 1px;
  --mixin-ClTugyuRr3nD_border-bottom-left-radius: 3px;
  --mixin-ClTugyuRr3nD_border-bottom-right-radius: 3px;
  --mixin-ClTugyuRr3nD_border-top-left-radius: 3px;
  --mixin-ClTugyuRr3nD_border-top-right-radius: 3px;
  --mixin-ClTugyuRr3nD_font-family: "Inconsolata";
  --mixin-ClTugyuRr3nD_padding-bottom: 1px;
  --mixin-ClTugyuRr3nD_padding-left: 4px;
  --mixin-ClTugyuRr3nD_padding-right: 4px;
  --mixin-ClTugyuRr3nD_padding-top: 1px;
  --mixin-ClTugyuRr3nD_white-space: pre-wrap;
  --mixin-raH10t5exH27_border-left-color: #dddddd;
  --mixin-raH10t5exH27_border-left-style: solid;
  --mixin-raH10t5exH27_border-left-width: 3px;
  --mixin-raH10t5exH27_color: #888888;
  --mixin-raH10t5exH27_padding-left: 10px;
  --mixin-raH10t5exH27_white-space: pre-wrap;
  --mixin-P5Jbx9u8f6Pz_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-P5Jbx9u8f6Pz_border-bottom-color: #dddddd;
  --mixin-P5Jbx9u8f6Pz_border-bottom-style: solid;
  --mixin-P5Jbx9u8f6Pz_border-bottom-width: 1px;
  --mixin-P5Jbx9u8f6Pz_border-left-color: #dddddd;
  --mixin-P5Jbx9u8f6Pz_border-left-style: solid;
  --mixin-P5Jbx9u8f6Pz_border-left-width: 1px;
  --mixin-P5Jbx9u8f6Pz_border-right-color: #dddddd;
  --mixin-P5Jbx9u8f6Pz_border-right-style: solid;
  --mixin-P5Jbx9u8f6Pz_border-right-width: 1px;
  --mixin-P5Jbx9u8f6Pz_border-top-color: #dddddd;
  --mixin-P5Jbx9u8f6Pz_border-top-style: solid;
  --mixin-P5Jbx9u8f6Pz_border-top-width: 1px;
  --mixin-P5Jbx9u8f6Pz_border-bottom-left-radius: 3px;
  --mixin-P5Jbx9u8f6Pz_border-bottom-right-radius: 3px;
  --mixin-P5Jbx9u8f6Pz_border-top-left-radius: 3px;
  --mixin-P5Jbx9u8f6Pz_border-top-right-radius: 3px;
  --mixin-P5Jbx9u8f6Pz_font-family: "Inconsolata";
  --mixin-P5Jbx9u8f6Pz_padding-bottom: 3px;
  --mixin-P5Jbx9u8f6Pz_padding-left: 6px;
  --mixin-P5Jbx9u8f6Pz_padding-right: 6px;
  --mixin-P5Jbx9u8f6Pz_padding-top: 3px;
  --mixin-P5Jbx9u8f6Pz_white-space: pre-wrap;
  --mixin-96m2ILJRl7ed_display: flex;
  --mixin-96m2ILJRl7ed_flex-direction: column;
  --mixin-96m2ILJRl7ed_align-items: stretch;
  --mixin-96m2ILJRl7ed_justify-content: flex-start;
  --mixin-96m2ILJRl7ed_list-style-position: outside;
  --mixin-96m2ILJRl7ed_padding-left: 40px;
  --mixin-96m2ILJRl7ed_position: relative;
  --mixin-96m2ILJRl7ed_list-style-type: disc;
  --mixin-96m2ILJRl7ed_white-space: pre-wrap;
  --mixin-nHIU6rnPGYBc_display: flex;
  --mixin-nHIU6rnPGYBc_flex-direction: column;
  --mixin-nHIU6rnPGYBc_align-items: stretch;
  --mixin-nHIU6rnPGYBc_justify-content: flex-start;
  --mixin-nHIU6rnPGYBc_list-style-position: outside;
  --mixin-nHIU6rnPGYBc_padding-left: 40px;
  --mixin-nHIU6rnPGYBc_position: relative;
  --mixin-nHIU6rnPGYBc_list-style-type: decimal;
  --mixin-nHIU6rnPGYBc_white-space: pre-wrap;
  --mixin-qvFyNCYyHmz0_color: #000000;
  --mixin-qvFyNCYyHmz0_font-size: 20px;
  --mixin-qvFyNCYyHmz0_font-weight: 600;
  --mixin-qvFyNCYyHmz0_line-height: 1.5;
  --mixin-qvFyNCYyHmz0_white-space: pre-wrap;
  --mixin-YcxmuoBWjWFC_color: #000000;
  --mixin-YcxmuoBWjWFC_font-size: 16px;
  --mixin-YcxmuoBWjWFC_font-weight: 600;
  --mixin-YcxmuoBWjWFC_line-height: 1.5;
  --mixin-YcxmuoBWjWFC_white-space: pre-wrap;
  --mixin-P7P-WJTfWILo_color: #3291ff;
  --mixin-P7P-WJTfWILo_white-space: pre-wrap;
  --mixin-JPrBbn0m0CVD_white-space: pre-wrap;
  --mixin-PRbEqT8cPtiI_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-Nubzpjc9ol7p_font-family);
  font-size: var(--mixin-Nubzpjc9ol7p_font-size);
  font-weight: var(--mixin-Nubzpjc9ol7p_font-weight);
  font-style: var(--mixin-Nubzpjc9ol7p_font-style);
  color: var(--mixin-Nubzpjc9ol7p_color);
  text-align: var(--mixin-Nubzpjc9ol7p_text-align);
  text-transform: var(--mixin-Nubzpjc9ol7p_text-transform);
  line-height: var(--mixin-Nubzpjc9ol7p_line-height);
  letter-spacing: var(--mixin-Nubzpjc9ol7p_letter-spacing);
  white-space: var(--mixin-Nubzpjc9ol7p_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-PkpD8aRroQ32_color);
  font-weight: var(--mixin-PkpD8aRroQ32_font-weight);
  font-size: var(--mixin-PkpD8aRroQ32_font-size);
  line-height: var(--mixin-PkpD8aRroQ32_line-height);
  letter-spacing: var(--mixin-PkpD8aRroQ32_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-U1asiWrXg-_K_color);
  font-size: var(--mixin-U1asiWrXg-_K_font-size);
  font-weight: var(--mixin-U1asiWrXg-_K_font-weight);
  letter-spacing: var(--mixin-U1asiWrXg-_K_letter-spacing);
  line-height: var(--mixin-U1asiWrXg-_K_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-5LidT8QFm123_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-79LRCWZSxyjb_color);
  font-size: var(--mixin-79LRCWZSxyjb_font-size);
  font-weight: var(--mixin-79LRCWZSxyjb_font-weight);
  line-height: var(--mixin-79LRCWZSxyjb_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-gRzF8bXAwOaU_color);
  font-size: var(--mixin-gRzF8bXAwOaU_font-size);
  font-weight: var(--mixin-gRzF8bXAwOaU_font-weight);
  line-height: var(--mixin-gRzF8bXAwOaU_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-ClTugyuRr3nD_font-family);
  border-radius: var(--mixin-ClTugyuRr3nD_border-top-left-radius)
    var(--mixin-ClTugyuRr3nD_border-top-right-radius)
    var(--mixin-ClTugyuRr3nD_border-bottom-right-radius)
    var(--mixin-ClTugyuRr3nD_border-bottom-left-radius);
  padding: var(--mixin-ClTugyuRr3nD_padding-top)
    var(--mixin-ClTugyuRr3nD_padding-right)
    var(--mixin-ClTugyuRr3nD_padding-bottom)
    var(--mixin-ClTugyuRr3nD_padding-left);
  border-top: var(--mixin-ClTugyuRr3nD_border-top-width)
    var(--mixin-ClTugyuRr3nD_border-top-style)
    var(--mixin-ClTugyuRr3nD_border-top-color);
  border-right: var(--mixin-ClTugyuRr3nD_border-right-width)
    var(--mixin-ClTugyuRr3nD_border-right-style)
    var(--mixin-ClTugyuRr3nD_border-right-color);
  border-bottom: var(--mixin-ClTugyuRr3nD_border-bottom-width)
    var(--mixin-ClTugyuRr3nD_border-bottom-style)
    var(--mixin-ClTugyuRr3nD_border-bottom-color);
  border-left: var(--mixin-ClTugyuRr3nD_border-left-width)
    var(--mixin-ClTugyuRr3nD_border-left-style)
    var(--mixin-ClTugyuRr3nD_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-raH10t5exH27_color);
  padding-left: var(--mixin-raH10t5exH27_padding-left);
  border-left: var(--mixin-raH10t5exH27_border-left-width)
    var(--mixin-raH10t5exH27_border-left-style)
    var(--mixin-raH10t5exH27_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-P5Jbx9u8f6Pz_font-family);
  border-radius: var(--mixin-P5Jbx9u8f6Pz_border-top-left-radius)
    var(--mixin-P5Jbx9u8f6Pz_border-top-right-radius)
    var(--mixin-P5Jbx9u8f6Pz_border-bottom-right-radius)
    var(--mixin-P5Jbx9u8f6Pz_border-bottom-left-radius);
  padding: var(--mixin-P5Jbx9u8f6Pz_padding-top)
    var(--mixin-P5Jbx9u8f6Pz_padding-right)
    var(--mixin-P5Jbx9u8f6Pz_padding-bottom)
    var(--mixin-P5Jbx9u8f6Pz_padding-left);
  border-top: var(--mixin-P5Jbx9u8f6Pz_border-top-width)
    var(--mixin-P5Jbx9u8f6Pz_border-top-style)
    var(--mixin-P5Jbx9u8f6Pz_border-top-color);
  border-right: var(--mixin-P5Jbx9u8f6Pz_border-right-width)
    var(--mixin-P5Jbx9u8f6Pz_border-right-style)
    var(--mixin-P5Jbx9u8f6Pz_border-right-color);
  border-bottom: var(--mixin-P5Jbx9u8f6Pz_border-bottom-width)
    var(--mixin-P5Jbx9u8f6Pz_border-bottom-style)
    var(--mixin-P5Jbx9u8f6Pz_border-bottom-color);
  border-left: var(--mixin-P5Jbx9u8f6Pz_border-left-width)
    var(--mixin-P5Jbx9u8f6Pz_border-left-style)
    var(--mixin-P5Jbx9u8f6Pz_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-96m2ILJRl7ed_display);
  flex-direction: var(--mixin-96m2ILJRl7ed_flex-direction);
  align-items: var(--mixin-96m2ILJRl7ed_align-items);
  justify-content: var(--mixin-96m2ILJRl7ed_justify-content);
  list-style-position: var(--mixin-96m2ILJRl7ed_list-style-position);
  padding-left: var(--mixin-96m2ILJRl7ed_padding-left);
  position: var(--mixin-96m2ILJRl7ed_position);
  list-style-type: var(--mixin-96m2ILJRl7ed_list-style-type);
  flex-column-gap: var(--mixin-96m2ILJRl7ed_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-nHIU6rnPGYBc_display);
  flex-direction: var(--mixin-nHIU6rnPGYBc_flex-direction);
  align-items: var(--mixin-nHIU6rnPGYBc_align-items);
  justify-content: var(--mixin-nHIU6rnPGYBc_justify-content);
  list-style-position: var(--mixin-nHIU6rnPGYBc_list-style-position);
  padding-left: var(--mixin-nHIU6rnPGYBc_padding-left);
  position: var(--mixin-nHIU6rnPGYBc_position);
  list-style-type: var(--mixin-nHIU6rnPGYBc_list-style-type);
  flex-column-gap: var(--mixin-nHIU6rnPGYBc_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-qvFyNCYyHmz0_color);
  font-size: var(--mixin-qvFyNCYyHmz0_font-size);
  font-weight: var(--mixin-qvFyNCYyHmz0_font-weight);
  line-height: var(--mixin-qvFyNCYyHmz0_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-YcxmuoBWjWFC_color);
  font-size: var(--mixin-YcxmuoBWjWFC_font-size);
  font-weight: var(--mixin-YcxmuoBWjWFC_font-weight);
  line-height: var(--mixin-YcxmuoBWjWFC_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-P7P-WJTfWILo_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
